@font-face {
    font-family: "Azov";
    src: url(../fonts/Azov.ttf)
}

* {
    margin: 0;
    font-family: Azov;
    user-select: none;
}

h1{
    display: block;
    margin: 20px 0 0 20px;
}

.wrapper{
    display: inline-block;
    position: relative;
}



body {
    background-color: rgb(97, 208, 255);

}

.lll {
    display: inline;
    position: absolute;
    height: 300px;
    width: 300px;
    transition: 2s;
}

div {
    transition-timing-function: linear;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    transition: top 1s, background 2s, left 1s;
    text-align: center;
    font-size: 20px;
    line-height: 100px;

}





.a {
    background-color: rgb(0, 255, 242);
    top: 10px;
    left: 10px;
    z-index: 1;
}

.b {
    background-color: rgb(9, 255, 0);
    top: 10px;
    left: 10px;
    z-index: 2;

}

.c {
    background-color: rgb(222, 105, 47);
    top: 10px;
    left: 10px;
    z-index: 3;

}

.d {
    background-color: rgb(255, 242, 0);
    top: 10px;
    left: 10px;
    z-index: 4;
}

.dispersion1 {
    top: 0;
    left: 0;
}

.dispersion2 {
    top: 0;
    left: 200px;
}

.dispersion3 {
    top: 200px;
    left: 0;
}

.dispersion4 {
    top: 200px;
    left: 200px;
}

.many {
    position: relative;
}


@media (max-width: 500px) {
    div {
        height: 50px;
        width: 50px;
        font-size: 10px;
        line-height: 50px;
    }

    .dispersion1 {
        top: 0;
        left: 0;
    }

    .dispersion2 {
        top: 0;
        left: 100px;
    }

    .dispersion3 {
        top: 100px;
        left: 0;
    }

    .dispersion4 {
        top: 100px;
        left: 100px;
    }
}

.margin10 {
    z-index: 1;
    top: 10px;
    left: 10px;
}

.margin20 {
    z-index: 2;
    top: 10px;
    left: 10px;
}

.margin30 {
    z-index: 3;
    top: 10px;
    left: 10px;
}

.margin40 {
    z-index: 5;
    top: 10px;
    left: 10px;
}